.navbar {
  background-color: #000000; /* Dark background for the navbar */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar__logo {
  color: var(--yellow-theme-main-color); /* Logo color */
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-icon {
  display: none;
  cursor: pointer;
  color: var(--yellow-theme-main-color); /* Icon color */
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Align menu to the end */
}

.navbar__menu__item {
  margin-left: 20px;
}

.navbar__menu__item__link {
  color: var(--yellow-theme-main-color); /* Link color */
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar__menu__item__link:hover {
  color: var(--yellow-theme-main-color); /* Hover color */
}

.navbar__popup {
  display: none;
  position: fixed; /* Full screen popup */
  top: 0;
  right: 0;
  background-color: #000000; /* Dark background for the popup */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable scrolling */
  z-index: 1000; /* Ensure the popup is on top */
}

.navbar__popup.active {
  display: block;
}

.navbar__popup__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__popup__menu__item {
  border-bottom: 1px solid #444; /* Separator between items */
}

.navbar__popup__menu__item:last-child {
  border-bottom: none;
}

.navbar__popup__menu__item__link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 40px;
  color: var(--yellow-theme-main-color); /* Link color */
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__popup__menu__item__link:hover {
  background-color: var(
    --yellow-theme-main-color
  ); /* Background color on hover */
  color: #000000; /* Darker color for text on hover */
}

/* Responsive styles */
@media (max-width: 750px) {
  .nav-icon {
    display: block;
  }

  .navbar__menu {
    display: none; /* Hide the menu */
  }
}

@media (max-width: 480px) {
  .nav-icon {
    right: 5px; /* Adjust as needed for smaller screens */
  }
}

@media (max-width: 300px) {
  .nav-icon {
    right: 3px; /* Adjust as needed for very small screens */
  }
}

@media (min-width: 751px) {
  .nav-icon {
    display: none; /* Hide the icon on larger screens */
  }

  .navbar__popup {
    display: none; /* Hide the popup */
  }
}
